pygame == 2.5.2
zipp ==	3.15.0
wheel == 0.40.0
six == 1.16.0
setuptools == 58.1.0
python-dateutil	== 2.8.2
pyparsing == 3.0.9
pycryptodome == 3.19.0
pycparser == 2.21
protobuf == 3.20.3
Pillow == 9.4.0
packaging == 23.0
opencv-contrib-python == 4.7.0.72
numpy == 1.24.2
fonttools == 4.39.2
flatbuffers == 23.3.3
cycler == 0.11.0
cryptography == 41.0.4
